
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

.c-PJLV{
    visibility: hidden;
    height: 0;
  }

  .c-PJLV > svg{
    width: 26px;
    height: 29px;
    color: #302d2de8;
    margin: 15px 10px;
  }

  .carousel{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    padding-top: 20px;
  }

  .card {
    box-shadow: 0 0 10px 1px rgb(0 0 0 / 10%);
    display: inline-block;
    height: 610px;
    margin-bottom: 10px;
    margin-left: 22px;
    padding: 20px;
    width: 31%;
    white-space: normal;
    text-align: center;
  }

  .card > img {
    height: 270px;
    background: transparent;
  }

  .desc-prj {
    text-align: justify;
  }

  .card > h4 {
    padding: 2% 0;
  }

  .version {
   margin-left: 20px;
   font-size: 20px;
  }

  .card > div {
    row-gap: 5%;
  }

  .link-rep {
    padding: 4% 2%;
  }

  .skills {
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
    padding-bottom: 7px;
  }

  .skills > img {
    width: 30px;
  }

  .title-skills  {
    height: 20px !important;
    text-align: initial;
    margin: 6px 0;
  }

  button:disabled {
    background-color: transparent;
    color: rgb(97, 97, 97);
    cursor: not-allowed;
  }

  @media (max-width: 800px) {
    .c-PJLV {
        visibility: visible;
      }

    .c-PJLV > button {
        margin: 15px;
    }
    .nav {
        visibility: hidden;
        height: 0;
        width: 0;
      }
      .card{
        width: 95%;
      }
      .card > p {
        font-size: 14px;
      }
  }