
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

.c-PJLV{
    visibility: hidden;
    height: 0;
  }

  .c-PJLV > svg{
    width: 26px;
    height: 29px;
    color: #302d2de8;
    margin: 15px 10px;
  }

  .carousel{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
  }

  .card {
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.5);
    display: inline-block;
    height: 410px;
    margin-bottom: 10px;
    margin-left: 22px;
    padding: 30px;
    width: 50%;
    white-space: normal;
    text-align: center;
  }

  .card > img {
    height: 250px;
    background: transparent;
  }

  .card > p {
    text-align: justify;
  }

  .card > h4 {
    padding: 2% 0;
  }

  @media (max-width: 800px) {
    .c-PJLV {
        visibility: visible;
      }

    .c-PJLV > button {
        margin: 15px;
    }
    .nav {
        visibility: hidden;
        height: 0;
        width: 0;
      }
      .card{
        width: 95%;
      }
      .card > p {
        font-size: 14px;
      }
  }