
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');


.name-title1{
  animation: changeTitleColor1 8s infinite;
}

.name-title2{
  animation: changeTitleColor2 8s infinite;
}


@keyframes changeTitleColor1 {
  0% {
    background-image: linear-gradient(to right, #007CF0, #00DFD8);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
  }
  70% {
    color: #faebd7;
  }

  80% {
    color: #ffffff;
  }

  100% {
    color: white;
  }
  
}

@keyframes changeTitleColor2 {
  0% {
    color: white;
  }
  20% {
    color: antiquewhite;
  }

  

  100% {
    background-image: linear-gradient(to right, #7928CA, #FF0080);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
  
    -webkit-text-fill-color: transparent;
  }
  
}
